<!DOCTYPE html>
<html lang='fr'>
<head>
<meta charset='utf-8' />
<title>Formulaire</title>
</head>
<body>
    <H2> Formulaire :</H2>
<form method='post' action='/ex1/q3'>
<p>
<label for='qui'>Prénom</label>
<input type='text' name='Prenom' id='Prenom' /><br /><br />
<label for='qui'>Nom</label>
<input type='text' name='Nom' id='Nom' /><br /><br />
<label for='qui'>Age</label>
<input type='text' name='Age' id='Age' /><br /><br />
<button type="submit">Go</button>
</p>
</form>
</body>
</html>